<!DOCTYPE html>
<html>
    <head>
        <title>Testing EJS</title>
        <meta charset="utf-8" />
        <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
    </head>
    <body>
        <h1>Today is <%= weekday %>, <%= advice %></h1>
    </body>
</html>